
#parent{
    
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;   
    margin-top: 20px;
    margin-bottom: 25px;
    height: auto;
}

#text_content h1{
    font-size: 38px;
    margin-bottom: -10px;
    
}
#text_content #Detail{
        color:  rgb(149, 140, 140);
        font-size: large;
}
#Add_Address:checked ~ form{
    right : 0;
}
#Add_Address{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
   
    align-items: center;
    border: 2px solid rgb(178, 176, 176);
    width: 326px;
    height: 148px;
    padding: 24px;
    background-color:white;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 17px;
}
#Add_Address:hover{
    background-color:rgb(227, 225, 225);
    border: 2px solid rgb(216, 213, 213);
}
#Add_Address p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(18, 17, 17);
    margin : 0px;

}
#boxes{
    display: flex;
    margin-top: 35px;
}
#display_Add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 326px;
    height: 148px;
    border: 2px solid rgb(216, 213, 213);;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    
    text-align: left;
    
  
}
#display_Add:hover{
    background-color:rgb(251, 248, 250);
    background-color:rgb(227, 225, 225);
}
#display_bag{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: auto;
    margin: 0px 0px 0px 38px;
    
    border-radius: 5px
}
#display_bag #bag{
    display: flex;
    border-radius: 7px;
    border: 2px solid rgb(216, 213, 213);
}
#display_bag #price{
    display: flex;
    margin-bottom: 8px;
    border-radius: 7px;
    border:2px solid rgb(216, 213, 213);
}
#display_bag #authentic{
    background: rgb(249, 250, 250);
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(216, 213, 213);

}
#authentic p, img{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 5px;
    padding:10px;
}

/* form Starts */
form{
    position: absolute;
    right: 0px;
    top: -30px;
    
    height: 100%;
   display: grid;
   grid-template-columns: repeat(1fr,1);
    width: 550px;
   margin: auto;
   background-color: rgb(255, 255, 255);
    padding: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
form h2{
    margin-bottom: 0px;
}
form input{
    background: rgb(243, 244, 245);
    border-width: 0px 0px 1px;
    border-radius: 8px;
    color: rgba(0, 19, 37, 0.92);
    font-size: 16px;
    font-weight: 400;
   margin: 5px;
   padding: 5px;
}
form #in6{
    padding: 20px 12px 5px;
    height: 60px;
}
form button{
    padding: 5px;
    border-style: solid;
    margin-top: 5px;
    border-width: 1px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-color:rgb(18, 17, 17);
    background-color: rgb(18, 17, 17);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}
/* Form ends */



/* Displaying Address Starts*/
#display_Add h4,#gotoadd,#gotopay{
    margin: 1px;
    

}

#display_Add #gotopay{
    border-style: solid;
    padding: 5px;
  
    font-size: 17px;
    font-weight: 600;
    line-height: 10px;
   
    border-color: rgb(18, 17, 17);
    background-color:rgb(18, 17, 17);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    text-decoration: none;
}
#display_Add #gotoadd{
    margin-top: 2px;
   
}
/* Displaying Address ends */


/* Displaying carts products */
.Display_cart{
position: relative;
display: flex;
margin: 10px;
align-items: center;
}
.Display_cart img{
width: 200px;
}
.Display_cart img , p,h4{
margin: 10px;
}



@media only screen and (max-width:620px){

    #parent{
    
        display: block;
        flex-direction: column;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;   
        margin-top: 20px;
        margin-bottom: 25px;
        height: auto;
        
    }
    #boxes{
        display: inline-block;
    }
    nav img + div{
        display: none;
    }
    #Add_Address{
        margin-bottom: 3%;
    }
    #display_Add{
        margin-bottom: 3%;
    }
}